In [1]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib as mpl
import scipy as sp
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OrdinalEncoder, OneHotEncoder, KBinsDiscretizer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [6]:
path_df = "student-mat.csv"

df = pd.read_csv(path_df)

df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Feature Engineering

In [5]:
col_tf = ColumnTransformer(
    transformers=[
        ('OneHot', OneHotEncoder(drop="first", categories='auto'), ['Mjob','Fjob','reason','guardian']),
        ('Ordinal',OrdinalEncoder(),['school','sex','address','famsize','Pstatus','Medu','Fedu','studytime','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']),
        ('MinMax',MinMaxScaler(),['age','traveltime','studytime','failures','famrel','freetime','goout','absences','G1','G2','G3'])
    ]
)

col_tf.fit(df)
new_df = pd.DataFrame(col_tf.transform(df), columns=col_tf.get_feature_names_out())
new_df.head()

,OneHot__Mjob_health,OneHot__Mjob_other,OneHot__Mjob_services,OneHot__Mjob_teacher,OneHot__Fjob_health,OneHot__Fjob_other,OneHot__Fjob_services,OneHot__Fjob_teacher,OneHot__reason_home,OneHot__reason_other,...,MinMax__traveltime,MinMax__studytime,MinMax__failures,MinMax__famrel,MinMax__freetime,MinMax__goout,MinMax__absences,MinMax__G1,MinMax__G2,MinMax__G3
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.333333,0.333333,0.0,0.75,0.50,0.75,0.080000,0.1250,0.315789,0.30
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.333333,0.0,1.00,0.50,0.50,0.053333,0.1250,0.263158,0.30
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.000000,0.333333,1.0,0.75,0.50,0.25,0.133333,0.2500,0.421053,0.50
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.000000,0.666667,0.0,0.50,0.25,0.25,0.026667,0.7500,0.736842,0.75
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.000000,0.333333,0.0,0.75,0.50,0.25,0.053333,0.1875,0.526316,0.50

Now it's time to split the train and test